<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, appUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
    <h2 th:text="'Hello, ' + ${username} + '!'"/>
    <p><a href="/logout">Sign out here</a></p>

    <h2>There are all the products:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${products.empty}" >
                <td colspan="2">No Products Available </td>
            </tr>
            <tr th:each="book: ${products}">
                <td><span th:text="${book.name}">Name</span></td>
                <td><span th:text="${book.price}">Price</span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>